<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/cs.css' />
  </head>
  <body>
        <nav>
                <ul>
                  <li>Home</li>
                  <li>Products</li>
                  <li>Services</li>
                  <li>Contact</li>
                </ul>
              </nav>
  </body>
</html>